@import './variables.scss';
@import './header.scss';
@import './aside.scss';
@import './main-cards.scss';
@import './button.scss';
@import './footer.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    transition: all 0.3s;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 125px;
    background-color: $color-grey-light;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.main-conteiner {
    display: flex;
}

.main {
    max-width: 892px;
}
.item-active{
    color:$color-green-main;
}
.svg-active{
    fill:$color-green-main;
    transform: rotate(90deg);
}
.button-plus-active{
    transform: rotate(45deg);
}