@import './variables.scss';
@import './header.scss';
@import './aside.scss';
@import './main-cards.scss';
@import './button.scss';
@import './footer.scss';
@import './adaptiveHide.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    transition: all 0.3s;
}

a {
    text-decoration: none;
}
body{
    background-color: $color-grey-light;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 0px;
    
}

.hide {
    display: none;
}

.show {
    display: block;
}

.main-conteiner {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.main {
    max-width: 892px;
}
.item-active{
    color:$color-green-main;
}
.svg-active{
    fill:$color-green-main;
    transform: rotate(90deg);
}
.button-plus-active{
    transform: rotate(45deg);
}
@import './media.scss';