$color-grey-dark:#F7F7F7;
$color-grey-light:#F7F7F7;
$color-green-main:#259609;
$color-black-main:#3E3E3E;
$color-white:#ffffff;
$color-black:#000;
$color-black-light:#3E3E3E;
$border-grey:#ECECEC;
$color-grey-hover:#f2f2f2;

.title-2{
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
    color:$color-green-main;
}
.title-3{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.title-4{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color:$color-black-light;
}
.title-4-white{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $color-white;
}
.title-5{
    line-height: 30px;
    font-size: 20px;
    color: $color-black-light;
    width: 222px;
    margin-top: 10px;
}
.title-6{
    font-size: 32px;
}
.title-green{
    color:$color-white;
}
.vector-green {
    position: absolute;
}

.vector-yellow {
    position: absolute;
}

.vector-blue {
    position: absolute;
    right: 0;
    bottom: 0;
}
.vector-rigth{
    margin-right: 12px;
}